flask==2.3.2
https://github.com/benoitc/gunicorn/archive/refs/heads/master.zip#egg=gunicorn==20.1.0
pytest==7.3.1
requests==2.31.0
Flask-Cors==3.0.10
flask-login==0.6.2
flask-socketio==5.3.4
simple-websocket==0.10.1
eventlet==0.33.3
boto3==1.26.151
pandas==2.0.2