{% extends "base.html" %}
{% block title %}Profile list{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/displaypage.css') }}" />
{% endblock %}
{% block body %}
    <dialog class="profile-modal">
        <div class="dialog-content">
            <div class="dialog-body">
                <div class="profile-header">
                    <div class="profile-image"></div>
                    <div class="profile-header-info">
                        <div id="profile-name"></div>
                        <div>Currently taking an internship at Google</div>
                        <div id="profile-email"></div>
                        <div id="chat-button">
                            <button type="button" class="btn btn-primary" tabindex="1" autofocus onclick="">Chat!</button>
                        </div>
                    </div>
                </div>
                <div id="profile-info">
                    <div class="education">
                        <div style="font-size: 25px;">Education</div>
                        <div class="ed-entry">
                            <div class="ed-name">Imperial College London</div>
                            <div class="ed-grade">BSci Computer Science</div>
                        </div>
                        <div class="ed-entry">
                            <div class="ed-name">Shanghai American School</div>
                            <div class="ed-grade">US High School Diploma</div>
                        </div>
                    </div>
                    <div class="work-experience">
                        <div style="font-size: 25px;">Work Experience</div>
                        <div class="work-entry">
                            <button type="button" class="collapsible">
                                <div class="work-name">Google</div>
                                <div class="work-title">Product Manager Intern</div>
                            </button>
                            <div class="content">He is fired.</div>
                        </div>
                        <div class="work-entry">
                            <button type="button" class="collapsible">
                                <div class="work-name">Twitter</div>
                                <div class="work-title">Softeware Testing Engineer Intern</div>
                            </button>
                            <div class="content">He quit.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-header">
                <button type="button" class="btn-close" onclick="hideProfile()" aria-label="Close"></button>
            </div>
        </div>
        <script src="{{ url_for('static', filename="js/profileModal.js") }}"></script>
    </dialog>
    {% macro profile(user_info) -%}
    <div>
        <a class="profile-thumb" href="#" onclick="showProfile('{{ user_info["uuid"] }}');">
      <div class="profile-image"></div>
      <div class="profile-info">
        <div id="name">{{ user_info["name"] }}</div>
        <div>Currently taking an internship at Google</div>
      </div>
        </a>
    </div>
    {% endmacro -%}
    <div class="heading">
        <div id="title">Based on your job description, we found the following people who might be able to help you...</div>
        <div id="back">
            <button onclick="window.location.href='/'" type="button" class="btn btn-secondary">back</button>
        </div>
    </div>
    {% for user in profiles %}
        {{ profile(user) }}
    {% endfor %}
    <p>None of these meet your requirement? click here to <a class="classic-link" href="">report</a></p>
{% endblock %}