{% extends "base.html" %}
{% block title %}Profile list{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/displaypage.css') }}" />
{% endblock %}
{% block body %}
    <div id="profile-modal">
        <div class="dialog-content">
            <div class="dialog-body">
                <div class="dialog-header">
                    <button type="button" class="btn-close" onclick="hideProfile()" aria-label="Close"></button>
                </div>
                <div class="profile-header">
                    <div><img src="" id="profile-image" class="profile-image"></div>
                    <div class="profile-header-info">
                        <div id="profile-name"></div>
                        <div id="profile-email"></div>
                        <div id="chat-button">
                            <button type="button" class="btn btn-primary" tabindex="1" autofocus onclick="openChatBox()" id="chatbtn">Chat!</button>
                        </div>
                    </div>
                </div>
                <div id="profile-info">
                    <div style="font-size: 25px;">Education</div>
                    <div id="education"></div>
                    <div style="font-size: 25px;">Work Experience</div>
                    <div id="work-experience"></div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename="js/profileModal.js") }}"></script>
    </div>
    {% macro most_relevant(user_info) -%}
        {% set mrid = user_info["mostRelevant"] %}
        {% for work_entry in user_info["workHistory"] %}
            {% if work_entry["id"] == mrid %}
                Work(ed) as {{ work_entry["position"] }} at {{ work_entry["company"] }}
            {% endif %}
        {% endfor %}
    {% endmacro -%}
    {% macro profile(user_info) -%}
    <div>
      <a class="profile-thumb" href="#" onclick="showProfile('{{ user_info["uuid"] }}');">
      <div><img src="" id="{{ user_info["uuid"] }}" class="profile-image"></div>
      <script>
           var profile_id = "{{ user_info["uuid"] }}";
           console.log(profile_id);
           var profile_image_link = 'https://drp26backend.herokuapp.com/profiles/' + profile_id;
           fetch(profile_image_link).then(function getJson(response) {
             console.assert(response.ok, 'Response was not ok.');
             return response.json();
    }).then(function writeData(data) {
             console.log(data['profilePhotoString']);
             document.getElementById(profile_id).src = data['profilePhotoString'];
    })
      </script>
      <div class="profile-info">
        <div id="name">{{ user_info["name"] }}</div>
        <div>{{ most_relevant(user_info) }}</div>
      </div>
        </a>
    </div>
    {% endmacro -%}
    <div class="heading">
        <div id="title">Based on your job description, we found the following people who might be able to help you...</div>
        <div id="back">
            <button onclick="window.location.href='/'" type="button" class="btn btn-secondary">back</button>
        </div>
    </div>
    {% for user in profiles %}
        {{ profile(user) }}
    {% endfor %}
    <p>None of these meet your requirement? click here to <a class="classic-link" href="">report</a></p>
{% endblock %}