{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/settings.css') }}" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
{% block body %}
    <h1>Settings</h1>
    <div>
        <input type="checkbox" checked data-toggle="toggle">
    </div>


{% endblock %}