root {
    --header-height: 10vh;
}

#site-header {
    padding-left: 3vw;
    padding-right: 3vw;
}

body {
    padding-top: 6vh;
}

#chat-modal {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25vw;
    height: 5vh;
    margin-right: 5vw;
    color: black;
    padding: 1vh 2vw;

    background-color: lightgray;
}

#chat-modal:hover {
    opacity: 80%;
}