#header {
    text-align: center;
    font-size: 26px;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 2vh;
  overflow: scroll;
}

#personal-info {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

.education-entry {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

#check {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

.work-experience-entry {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

.submit-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}