

#instruction-div {
    text-align: center;
    font-size: 26px;
    padding-bottom: 2vh;
}

form {
    width: 70%;
    margin: 2vh auto 5vh;
    padding: 2vh 5vw;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

#personal-info {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

.education-entry {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

#check {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

.personal-info-entry {
    margin: 0
}
.edit-profile-image {
    width: 200px;
    height: 200px;
}

.personal-info-container {
    display: flex;
    padding: 0;
}

.left-div {
    width: 100%
}

.right-div {
    width: 20%;
    margin: auto;
}

.work-experience-entry {
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    border-top: 2px solid #cccccc;
}

.submit-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}

.submit-row-btn {
    margin: 0 1vw;
}