#title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 3vh;
    font-family: 'Maven Pro', sans-serif;
}

#statement {
    text-align: center;
    color: #444444;
    font-size: 40px;
    margin-bottom: 3vh;
    font-family: 'Maven Pro', sans-serif;
}

.g_id_signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#log {
    font-size: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3vh;
    color: #888888;
}