#title {
    text-align: left;
    font-size: 48px;
    margin-bottom: 3vh;
    margin-left: 3vh;
    font-family: 'Tilt Prism', cursive;
}

#statement {
    text-align: left;
    font-size: 24px;
    margin-bottom: 3vh;
    margin-left: 3vh;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #37517e
}
.g_id_signin {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 3vh;
    color: #4285F4
}

#log {
    font-size: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3vh;
    color: #888888;
}

.moto-container {
    width: 60%;
    margin-top: 18vh;
    margin-left: 10vh;
    margin-bottom: 10vh

}

.text {
    color: #FFFFFF
}
