#title {
    text-align: left;
    margin: 2vh 6vw;
    font-size: 26px;
    width: 50%;
}

p {
    text-align: left;
    margin: 8vh 6vw;
}

.profile-image {
  margin: 2vh 0vw;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-color: #222222;
  opacity: 69%;
}

.profile-thumb {
    display: flex;
    flex-direction: row;
    background-color: #e2e3e5;
    width: 50%;
    margin: 5vh 6vw;
    padding: 1vh 1.5vw;
    border-radius: 20px;
}

.profile-info {
    margin-left: 3vw;
    margin-top: 2.5vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

#name {
    font-size: 20px;
}

.classic-link {
    text-decoration: underline;
    color: #e5c7ca;
}

#back {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.heading {
    display: flex;
    flex-direction: row;
}